#home {
  background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-138815.jpg");
  background-position-x: 50%;
  background-size: cover;
}

#home span {
  color: white;
  text-shadow: 5px 5px 10px black;
}

.name {
  font-size: 60px;
  text-align: center;
}

.statement {
  font-size: 40px;
  text-align: center;
}