#applications h2 {
  margin-left: 10%;
  padding-top: 20px;
}

.allAppContainer {
  background-color: white;
  border: 5px solid black;
  display: flex;
  height: 50vh;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  text-align: center;
  width: 80%;
}

.appContainer {
  display: flex;
  height: 100%;
}

.appContainer img {
  border-bottom: 2px solid black;
  height: 85%;
}

.innerAppContainer {
  height: 90%;
  border: 1px solid black;
  margin-left: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.midAppContainer {
  background: linear-gradient(135deg, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);
  border-radius: 30px;
  box-shadow: 10px 10px 10px rgb(185, 186, 186);
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 95%;
}